<!-- app/views/admin/dashboard/index.html.erb -->

<h1>Loan List</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.name %></td>
        <td><%= loan.amount %></td>
        <td><%= loan.status %></td>
        <td>                 
            <%= form_with(url: approve_loan_path(loan), method: :patch) do |f| %>
            <%= f.hidden_field :loan_id, value: loan.id %>
            <%= f.submit 'Approve' %>
            <% end %>

          <%= form_with(url: reject_loan_path(loan), method: :patch, class: 'reject-form') do |f| %>
          <%= f.hidden_field :loan_id, value: loan.id %>
          <%= f.submit 'Reject', class: 'reject-button' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to 'Log out', destroy_user_session_path, method: :delete %>